#awards {
	.inner {
		width: 1180px;
		height: 650px;
		margin: 0 auto;
		padding: 30px 0px 30px;
		border-top: 2px solid #6e6d6d80;
		position: relative;
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		h1 {
			float: left;
			width: 100%;
			margin-bottom: 30px;
			transform: translateY(-50%);
			opacity: 0;
			transition: 0.5s;
		}
		.wrap {
			float: right;
			width: 700px;
			transform: rotateY(180deg);
			opacity: 0;
			transition: 0.5s 0.2s;
			.acordianMenu {
				width: 700px;
				height: 100%;
				position: relative;
				margin: 0px;
				padding: 10px 10px 10px;
				border-top: 1px solid #6e6d6d;
				overflow: hidden;
				&:hover .txt::after {
					color: #cb770a;
					font-size: 35px;
				}
				&.on {
					.txt {
						margin: 0px 0px 5px;
						&::after {
							transform: rotate(135deg);
							opacity: 0;
						}
						h2 {
							width: 100%;
							height: 100%;
							position: absolute;
							top: 30px;
							left: 0px;
							color: #6e6d6db3;
							justify-content: flex-end;
							font-size: 70px;
							padding: 10px;
							transition: 0.5s;
						}
						h3 {
							padding: 0px 15px;
							font-weight: 500;
							color: #cb770a;
							border-radius: 2px;
						}
					}
					.content {
						max-height: 150px;
						padding: 0px 15px;
						p {
							color: #9a9a9a;
						}
					}
				}
				.txt {
					display: flex;
					align-items: center;
					cursor: pointer;
					&::after {
						content: '+';
						position: absolute;
						right: 20px;
						font-size: 32px;
						transition: all 1s;
						color: #6e6d6d;
					}
					h2 {
						width: 60px;
						height: 40px;
						display: flex;
						justify-content: center;
						align-items: center;
						color: #efefef;
						font-size: 20px;
						font-weight: 500;
						margin-right: 50px;
						margin-left: 10px;
					}
					h3 {
						position: relative;
						font-weight: 400;
						color: #9a9a9a;
						z-index: 10;
					}
				}
				.content {
					max-height: 0;
					transition: 1s;
					overflow: hidden;
					display: flex;
					img {
						width: 200px;
						height: 150px;
						padding: 10px 0;
						margin: 0px 20px 0px 0px;
						filter: saturate(70%);
					}
					p {
						width: 400px;
						position: relative;
						padding: 10px 0;
						color: #9a9a9a;
						z-index: 10;
					}
				}
			}
		}
	}
	&.on {
		.inner {
			h1 {
				transform: translateY(0%);
				opacity: 1;
			}
			.wrap {
				transform: rotateY(0deg);
				opacity: 1;
			}
		}
	}
}

// tablet - 1179px--------------------
@media screen and (max-width: $tablet) {
	#awards {
		.inner {
			width: 100%;
			height: 690px;
			padding: 5vw 5vw 5vw;
		}
	}
}

// middle - 935px--------------------
@media screen and (max-width: $middle) {
	#awards {
		.inner {
			.wrap {
				width: 80%;
				margin-top: 20px;
				.acordianMenu {
					width: 100%;
					&.on {
						.txt {
							h2 {
								display: none;
							}
						}
					}
					.txt {
						h2 {
							margin-right: 20px;
						}
						h3 {
							margin-right: 15px;
						}
					}
				}
			}
		}
	}
}

// mobile - 539px -------------------
@media screen and (max-width: $mobile) {
	#awards {
		.inner {
			.wrap {
				width: 100%;
				.acordianMenu {
					padding: 10px 0px 10px;
					&.on {
						.content {
							max-height: 180px;
						}
					}
					.txt {
						h2 {
							font-size: 16px;
						}
						h3 {
							font-size: 14px;
							padding: 10px 30px 10px 0px;
						}
					}
					.content {
						flex-direction: column;
						img {
							width: 150px;
							height: 100px;
						}
						p {
							width: 100%;
							height: 100%;
							padding: 2px 0;
						}
					}
				}
			}
		}
	}
}
