#noticeMain {
	width: 100%;
	.inner {
		width: 1180px;
		margin: 0 auto;
		padding: 30px 0px 100px;
		border-top: 2px solid #6e6d6d80;
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		h1 {
			width: 100%;
			float: left;
			margin-bottom: 60px;
			transform: translateY(-50%);
			opacity: 0;
			transition: 0.5s;
		}
		> a {
			display: block;
			float: right;
			margin-top: -95px;
			color: #cb770a;
			transform: translateX(100%);
			opacity: 0;
			transition: transform 0.5s 0.2s, opacity 0.5s 0.2s, color 0.5s;
			svg {
				path {
					color: #cb770a;
					transition: 0.5s;
				}
			}
			&:hover {
				color: #eb7206;
				svg {
					path {
						color: #eb7206;
					}
				}
			}
		}
		.wrap {
			width: 100%;
			float: right;
			display: flex;
			justify-content: space-between;
			article {
				width: 30%;
				min-height: 150px;
				padding: 25px 30px;
				border: 1px solid #6e6d6d;
				transform: rotateY(200deg) translateY(100px);
				opacity: 0;
				transition: transform 0.5s 0.2s, opacity 0.5s 0.2s, background-color 0.5s;
				h5 {
					font-size: 18px;
					color: #cb770a;
					margin-bottom: 15px;
					transition: 0.5s;
				}
				p {
					font-size: 15px;
					color: #9a9a9a;
					transition: 0.5s;
				}
				&:hover {
					background-color: #cb770a;
					h5 {
						color: #efefef;
					}
					p {
						color: rgba(0, 0, 0, 0.6);
					}
				}
			}
		}
	}
	&.on {
		.inner {
			h1 {
				transform: translateY(0%);
				opacity: 1;
			}
			> a {
				transform: translateX(0%);
				opacity: 1;
			}
			.wrap {
				article {
					transform: rotateY(0deg) translateY(0px);
					opacity: 1;
				}
			}
		}
	}
}

// tablet - 1179px--------------------
@media screen and (max-width: $tablet) {
	#noticeMain {
		.inner {
			width: 100%;
			padding: 5vw 5vw 5vw;
			.wrap {
				flex-wrap: wrap;
				article {
					width: 49%;
					margin-bottom: 20px;
					&:nth-of-type(3) {
						width: 100%;
					}
				}
			}
		}
	}
}

// middle - 935px--------------------
// @media screen and (max-width: $middle) {
// }

// mobile - 539px -------------------
@media screen and (max-width: $mobile) {
	#noticeMain {
		.inner {
			h1 {
				margin-bottom: 50px;
			}
			> a {
				margin-top: -40px;
			}
			.wrap {
				article {
					width: 100%;
				}
			}
		}
	}
}
