.btnScroll {
	position: fixed;
	right: 2vw;
	top: 50%;
	transform: translateY(-50%);
	z-index: 5;
	li {
		display: flex;
		justify-content: flex-end;
		align-content: center;
		p {
			font-size: 10px;
			color: #cb770a;
			cursor: none;
			opacity: 0;
			transition: 0.5s;
		}
		a {
			display: block;
			width: 9px;
			height: 9px;
			margin-left: 1vw;
			border-radius: 1px;
			background-color: #6e6d6d80;
			margin-bottom: 20px;
			cursor: pointer;
			transition: 0.5s;
		}
		&.on a,
		&:hover a {
			transform: scale(1.1);
			background-color: #efefef;
		}
		&:hover p {
			opacity: 1;
		}
	}
}
