#youtubeMain {
	width: 100%;
	.inner {
		width: 1180px;
		margin: 0 auto;
		padding: 30px 0px 80px;
		border-top: 2px solid #6e6d6d80;
		position: relative;
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		h1 {
			width: 100%;
			float: left;
			margin-bottom: 60px;
			transform: translateY(-50%);
			opacity: 0;
			transition: 0.5s;
		}
		> a {
			display: block;
			float: right;
			margin-top: -70px;
			color: #cb770a;
			transform: translateX(100%);
			opacity: 0;
			transition: transform 0.5s 0.4s, opacity 0.5s 0.4s, color 0.5s;
			svg {
				path {
					color: #cb770a;
					transition: 0.5s;
				}
			}
			&:hover {
				color: #eb7206;
				svg {
					path {
						color: #eb7206;
					}
				}
			}
		}

		.wrap {
			width: 100%;
			float: right;
			display: flex;
			justify-content: flex-end;
			article {
				width: 280px;
				float: left;
				margin-left: 20px;
				border-top: 1px solid #6e6d6d;
				transform: translateY(30%);
				opacity: 0;
				&:nth-of-type(1) {
					transition: 0.5s 0.2s;
					margin-left: 0px;
				}
				&:nth-of-type(2) {
					transition: 0.5s 0.3s;
				}
				&:nth-of-type(3) {
					transition: 0.5s 0.4s;
				}
				h2 {
					padding-top: 15px;
					margin-bottom: 25px;
					font-size: 19px;
					color: #cb770a;
					opacity: 0.8;
				}
				.pic {
					width: 100%;
					height: 200px;
					overflow: hidden;
					margin-bottom: 15px;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						cursor: pointer;
						filter: saturate(70%);
						transition: 0.5s;
						&:hover {
							filter: saturate(100%);
							transform: scale(1.2);
						}
					}
				}
				p {
					font-size: 14px;
					color: #9a9a9a;
				}
			}
		}
	}
	&.on {
		.inner {
			h1 {
				transform: translateY(0%);
				opacity: 1;
			}
			> a {
				transform: translateX(0%);
				opacity: 1;
			}
			.wrap {
				article {
					transform: translateY(0%);
					opacity: 1;
				}
			}
		}
	}
}

// tablet - 1179px--------------------
@media screen and (max-width: $tablet) {
	#youtubeMain {
		.inner {
			width: 100%;
			padding: 5vw 5vw 5vw;
		}
	}
}

// middle - 935px--------------------
@media screen and (max-width: $middle) {
	#youtubeMain {
		.inner {
			.wrap {
				flex-wrap: wrap;
				article {
					width: 38%;
					margin-bottom: 25px;
					&:nth-of-type(1) {
						float: left;
					}
					&:nth-of-type(2) {
						float: right;
					}
					&:nth-of-type(3) {
						width: calc(76% + 25px);
					}
				}
			}
		}
	}
}

// mobile - 539px -------------------
@media screen and (max-width: $mobile) {
	#youtubeMain {
		.inner {
			h1 {
				margin-bottom: 50px;
			}
			> a {
				margin-top: -40px;
			}
			.wrap {
				article {
					width: 100%;
					margin-left: 0px;
					&:nth-of-type(3) {
						width: 100%;
					}
				}
			}
		}
	}
}
