.Join {
	.inner {
		fieldset {
			border: none;
			h2 {
				font-size: 20px;
				font-weight: 500;
				margin-bottom: 20px;
			}
			#terms {
				width: 100%;
				height: 150px;
				resize: none;
				padding: 20px;
				font-size: 12px;
				line-height: 1.3;
				color: #0b0909;
				background-color: #efefefe5;
				margin-bottom: 10px;
			}
			.agreement {
				margin: 0px 10px 70px 0px;
				label[for='agree'] {
					font-size: 14px;
					margin-left: 10px;
				}
				p {
					font: 11px/1 '맑은고딕';
					color: #cb770a;
					margin-top: 10px;
				}
			}
			table {
				width: 100%;
				border-top: 2px solid #9a9a9a;
				border-bottom: 2px solid #9a9a9a;
				th,
				td {
					border-bottom: 1px solid #6e6d6d;
					padding: 25px;
				}
				th {
					width: 20%;
					text-align: left;
					font-size: 16px;
					font-weight: 500;
					&:last-child {
						text-align: center;
						border-bottom: none;
					}
					input[type='submit'] {
						width: 150px;
						height: 40px;
						margin: 10px auto;
						font-size: 14px;
						line-height: 40px;
						font-weight: 400;
						background-color: #cb770a;
						color: #efefef;
						cursor: pointer;
						transition: 0.5s;
						&:hover {
							background-color: #eb7206;
						}
					}
				}
				td {
					border-left: 1px solid #9a9a9a;
					input[type='text'],
					input[type='password'],
					select {
						width: 50%;
						background-color: rgba(0, 0, 0, 0.03);
						padding: 10px;
						border: 1px solid #9a9a9a;
						color: #9a9a9a;
						&:focus {
							outline: none;
						}
						option {
							color: #0b0909;
						}
					}
					input[type='radio'],
					input[type='checkbox'] {
						margin-right: 5px;
					}
					label {
						color: #9a9a9a;
						margin-right: 25px;
					}
					p {
						font: 11px/1.4 '맑은고딕';
						color: #cb770a;
						margin-top: 10px;
					}
				}
			}
		}
	}
}

// tablet - 1179px--------------------

// @media screen and (max-width: $tablet) {
// }

// middle - 935px--------------------

@media screen and (max-width: $middle) {
	.Join {
		.inner {
			fieldset {
				table {
					th,
					td {
						padding: 25px 20px 25px 8px;
					}
					th {
						width: 25%;
					}
					td {
						input[type='text'],
						input[type='password'],
						select {
							width: 250px;
						}
					}
				}
			}
		}
	}
}

// mobile - 539px -------------------
@media screen and (max-width: $mobile) {
	.Join {
		.inner {
			fieldset {
				table {
					th {
						width: 30%;
					}
					td {
						input[type='text'],
						input[type='password'],
						select {
							width: 100%;
						}
					}
				}
			}
		}
	}
}
