.JoinResult {
	.inner {
		.wrap {
			width: 100%;
			height: 600px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background-image: url(../../../public/img/join.jpg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				filter: blur(5px);
				opacity: 0.4;
			}
			.pic {
				width: 30%;
				height: 80%;
				background-image: url(../../../public/img/join.jpg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				z-index: 2;
			}
			.txt {
				width: 30%;
				height: 80%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 20px 37px;
				background-color: rgba(0, 0, 0, 0.5);
				opacity: 1;
				z-index: 2;
				svg {
					font-size: 50px;
					color: #efefef;
					margin-bottom: 20px;
				}
				p {
					font-size: 18px;
					color: #efefef;
					margin-bottom: 40px;
					text-align: center;
					strong {
						font-size: 19px;
						color: #efefef;
					}
				}
				span {
					font-size: 13px;
					line-height: 1.5;
					color: #9a9a9a;
					margin-bottom: 90px;
					text-align: center;
				}
				a {
					display: block;
					width: 100px;
					height: 30px;
					font-size: 16px;
					line-height: 30px;
					color: #efefef;
					background-color: #cb770a;
					text-align: center;
					transition: 0.5s;
					&:hover {
						background-color: #eb7206;
					}
				}
			}
		}
	}
}

// tablet - 1179px--------------------
@media screen and (max-width: $tablet) {
	.JoinResult {
		.inner {
			.wrap {
				.pic {
					width: 40%;
				}
				.txt {
					width: 40%;
					span {
						margin-bottom: 7vw;
					}
				}
			}
		}
	}
}

// middle - 935px--------------------
@media screen and (max-width: $middle) {
	.JoinResult {
		.inner {
			.wrap {
				.pic {
					width: 45%;
				}
				.txt {
					width: 45%;
				}
			}
		}
	}
}

// mobile - 539px -------------------
@media screen and (max-width: $mobile) {
	.joinResult {
		.inner {
			.wrap {
				.pic {
					display: none;
				}
				.txt {
					width: 80%;
				}
			}
		}
	}
}
