.NoticeSub {
	.inner {
		.inputBox {
			width: 100%;
			border: 1px solid #6e6d6d;
			padding: 50px;
			margin-bottom: 50px;
			input[type='text'],
			textarea {
				width: 100%;
				padding: 8px 10px;
				border: none;
				border-bottom: 2px solid #6e6d6d;
				resize: none;
				background: transparent;
				color: #efefef;

				&:focus {
					outline: none;
				}
			}
			input[type='text'] {
				margin-bottom: 25px;
			}
			textarea {
				margin-bottom: 40px;
			}

			.btnSet {
				display: flex;
				justify-content: center;
				button {
					width: 150px;
					height: 30px;
					display: inline-block;
					border: none;
					background-color: #cb770a;
					cursor: pointer;
					margin-right: 20px;
					transition: 0.5s;
					&:hover {
						background-color: #eb7206;
					}
				}
			}
		}

		.showBox {
			width: 100%;
			border: 1px solid #6e6d6d;
			padding: 50px;
			background-color: #060909;
			article {
				box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.163);
				padding: 30px;
				margin-bottom: 40px;
				display: flex;
				justify-content: space-between;
				align-content: center;
				flex-wrap: wrap;
				// background-color: #6e6d6d80;
				background-color: #242424;
				.txt {
					width: calc(100% - 170px);
					h2 {
						margin-bottom: 10px;
						color: #efefef;
					}
					p {
						color: #9a9a9a;
					}
					input,
					textarea {
						width: 100%;
						padding: 8px 10px;
						margin-bottom: 20px;
						background: #efefef;
						color: #060909;
						border: none;
						resize: none;
						&:focus {
							outline: none;
						}
					}
					textarea {
						margin-bottom: 0px;
					}
				}
				.btnSet {
					width: 120px;
					display: flex;
					align-items: center;
					margin-top: 20px;
					justify-content: flex-end;
					gap: 10px;
					button {
						background: transparent;
						margin: 10px;
						border: none;
						cursor: pointer;
						color: #cb770a;
						svg {
							font-size: 18px;
							path {
								color: #cb770a;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.NoticeSub {
		.inner {
			.inputBox {
				input[type='text'],
				textarea {
					width: 100%;
				}
				.btnSet {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;

					button {
						width: 47%;
						margin-right: 0;
					}
				}
			}

			.showBox {
				article {
					.txt,
					.editTxt,
					.btnSet {
						width: 100%;
					}
				}
			}
		}
	}
}
