.YoutubeSub {
	.inner {
		.vidList {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-content: flex-start;
			article {
				width: 31.333%;
				height: 450px;
				border-top: 1px solid #6e6d6d;
				margin-bottom: 40px;
				.pic {
					display: block;
					width: 100%;
					height: 60%;
					padding: 10px 0px;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						cursor: pointer;
						opacity: 0.8;
						transform: translateY(10%);
						transition: 0.5s;
						&:hover {
							opacity: 1;
							transform: translateY(0%);
						}
					}
				}
				.con {
					width: 100%;
					height: 40%;
					padding: 20px 0px;
					h2 {
						font-size: 20px;
						font-weight: bold;
						line-height: 1.2;
						color: #cb770a;
						margin-bottom: 15px;
					}
					p {
						font-size: 14px;
						line-height: 1.4;
						color: #a9a9a9;
						margin-bottom: 20px;
					}
					span {
						font-size: 16px;
						color: #6e6d6d;
					}
				}
			}
		}
	}
}

// tablet - 1179px--------------------

// @media screen and (max-width: $tablet) {
//
// 	}

// middle - 935px--------------------

@media screen and (max-width: $middle) {
	.YoutubeSub {
		.inner {
			.vidList {
				article {
					width: 49%;
					margin-bottom: 40px;
				}
			}
		}
	}
}

// mobile - 539px -------------------
@media screen and (max-width: $mobile) {
	.YoutubeSub {
		.inner {
			.vidList {
				article {
					width: 100%;
					margin-bottom: 25px;
				}
			}
		}
	}
}
